<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">ひよこの友達</h1>
    <% @hiyokos.each do |hiyoko| %>
      <div class="users-index-item">
        <div class="user-left">
         <img src="<%= "/hiyoko_images/#{hiyoko.image_name}" %>">
       </div>
        <div class="user-right">
          <%= link_to hiyoko.name, hiyoko_path(hiyoko) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
