<div class="main users-new">
  <div class="container">
    <div class="form-heading">遊びに行く</div>
    <div class="form users-form">
      <div class="form-body">
        <% if @error_message %>
        <div class="form-error">
          <%= @error_message %>
        </div>
        <% end %>
        <%= form_with model: @hiyoko, local: true do |form| %>
        <p>あどれす</p>
        <input name="email" value="<%= @email %>">
        <p>ぱすわーど</p>
        <input type="password" name="password" value="<%= @password %>">
        <input type="submit" value="遊ぶ">
        <% end %>
      </div>
    </div>
  </div>
</div>
